{% extends "layout.html" %} {% block title %} Flaskord {% endblock %} {% block
script %}
<script>
  document.addEventListener("DOMContentLoaded", () => {
    let last_channel = localStorage.getItem("channel");
    if (last_channel == null) {
      last_channel = "default";
    } else {
      let i = 0;
      let channels = [];
      document.querySelectorAll(".channel-link").forEach(link => {
        const channel = link.dataset.channel;
        channels[i] = channel;
        i++;
      });
      if (last_channel in channels === false) {
        last_channel = "default";
      }
    }

    load_channel(last_channel);

    let socket = io.connect(
      location.protocol + "//" + document.domain + ":" + location.port
    );

    socket.on("connect", () => {
      document.querySelector("#send").onclick = () => {
        const msg = document.querySelector("#enter").value;
        document.querySelector("#enter").value = "";
        const channel = document.querySelector("#channel").innerHTML;
        socket.emit("send msg", {
          channel: channel,
          message: msg,
          author: "{{ user }}"
        });
      };
      document.querySelector("#submit").onclick = () => {
        const channel = document.querySelector("#enter_channel").value;
        document.querySelector("#enter_channel").value = "";
        socket.emit("create channel", { channel: channel });
      };
    });

    socket.on("newMessage", data => {
      if (data.channel === document.querySelector("#channel").innerHTML) {
        const li = document.createElement("li");
        li.innerHTML = `${data.author}, ${data.time}: ${data.message}`;
        document.querySelector("#messages").appendChild(li);
      }
    });

    socket.on("newChannel", data => {
      const li2 = document.createElement("li");
      const channel = data.channel;
      li2.innerHTML = `<a href="" class="channel-link" data-channel="${channel}">${channel}</a>`;
      console.log(li2);
      document.querySelector("#channels").appendChild(li2);
      add_onclick_to_channels();
    });

    add_onclick_to_channels();
  });

  function add_onclick_to_channels() {
    document.querySelectorAll(".channel-link").forEach(link => {
      link.onclick = () => {
        const channel = link.dataset.channel;
        load_channel(channel);
        localStorage.setItem("channel", channel);
        return false;
      };
    });
    return false;
  }

  function load_channel(name) {
    const request = new XMLHttpRequest();
    request.open("GET", `/${name}`);
    request.onload = () => {
      const response = request.responseText;
      const json = JSON.parse(response);

      document.querySelector("#channel").innerHTML = name;
      document.querySelector("#msg").innerHTML = "Messages";

      let msg = document.querySelector("#messages");
      while (msg.firstChild) {
        msg.removeChild(msg.firstChild);
      }
      if (json.messages.length !== 0) {
        for (let i = 0; i < json.messages.length; i++) {
          const li = document.createElement("li");
          li.innerHTML = `${json.messages[i].author}, ${
            json.messages[i].time
          }: ${json.messages[i].message}`;
          document.querySelector("#messages").appendChild(li);
        }
      }
    };
    request.send();
  }
</script>
{% endblock %} {% block main %}
<h2>Welcome back, {{ user }}.</h2>
<h4>List of all channels:</h4>
<ul id="channels">
  {% for channel in channels %}
  <li>
    <a href="" class="channel-link" data-channel="{{ channel }}">{{
      channel
    }}</a>
  </li>
  {% endfor %}
</ul>
{% with messages = get_flashed_messages() %} {% if messages %}
<p>{{ messages[0] }}</p>
{% endif %} {% endwith %}

<input
  type="text"
  placeholder="Channel name"
  name="channel"
  id="enter_channel"
/>
<button id="submit">Create channel</button>
<!-- Chat -->
<div id="body">
  <h3 id="channel"></h3>
  <p id="msg"></p>
  <ul id="messages"></ul>
  <input type="text" id="enter" />
  <button id="send">Send</button>
</div>
{% endblock %}
